header {
/*  background-color: aquamarine;*/
  padding-bottom: 10px;
}

nav {
/*  background-color: beige;*/
  padding-top: 10px;
}

section {
/*  background-color: azure;*/
  padding-bottom: 10px;
}

footer {
  padding-top: 10px;
/*  background-color: cornflowerblue;*/
}