<div class="form-group">
  <label for="pregunta">Pregunta:</label>
  <input class="form-control" type="text" id="pregunta" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" /> </div>
<div class="form-group">
  <label for="respuesta">Respuesta:</label>
  <input class="form-control" type="text" id="respuesta" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" />
</div>
<a class="btn btn-default" href="/quizes">Cancelar</a>
<input class="btn btn-default" type="submit" value="Salvar" />