<table>
  <% for (var i = 0; i < quizes.length; i++) { %>
    <tr>
      <td>
        <a href="quizes/<%= quizes[i].id %>">
          <%= quizes[i].pregunta %>
        </a>
      </td>
    </tr>
    <% } %>
</table>

<hr />

<p>
  <a class="btn btn-default" href="/quizes/new">Crear pregunta</a>
</p>