<div class="h4 text-center">Pregunta</div>
<p class="text-center"><%= pregunta %></p>

<form class="form-inline text-center" method="get" action="/quizes/answer">
  <input class="form-control" type="text" id="respuesta" name="respuesta" placeholder="Responda aquí">
  <input class="btn btn-default" type="submit" value="Enviar">
</form>
